<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.assistant.login.DAO.LoginDAO">
    <resultMap id="customerMap" type="com.xs.DAO.DO.customer.CustomerDO">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="birth" column="birth"/>
        <result property="idNumber" column="id_number"/>
        <result property="areaId" column="area_id"/>
        <result property="stateId" column="state_id"/>
        <result property="level" column="level"/>
        <result property="pointsLevelId" column="points_level_id"/>
        <result property="iconPath" column="icon_path"/>
    </resultMap>

    <select id="login" resultMap="customerMap">
        SELECT
            id,first_name,last_name,email,birth,id_number,area_id,state_id,level,points_level_id,icon_path
        FROM
            customer
        WHERE
            email = #{nameOrEmail}
        OR
            id_number = #{nameOrEmail}
    </select>

    <select id="getCustomerPassword" resultType="java.lang.String">
        SELECT
            password
        FROM
            customer
        WHERE
            email = #{email}
    </select>

</mapper>