<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.assistant.service.user.DAO.UserUpdateDAO">

    <insert id="insertCustomer" parameterType="com.xs.DAO.DO.customer.CustomerDO">
        INSERT INTO
            customer (id,first_name,last_name,email,password,birth,id_number,area_id,state_id,icon_path,create_time,level,update_time)
        VALUES
            (NULL,#{customer.firstName},#{customer.lastName},#{customer.email},
             #{customer.password},#{customer.birth},#{customer.idNumber},#{customer.areaId},0,#{customer.iconPath},now(),#{customer.level},now())
    </insert>

    <update id="uploadIcon">
        UPDATE customer
        SET icon_path = #{iconPath}
        WHERE id_number = #{idOfNumber}
    </update>
</mapper>