<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.assistant.service.user.DAO.UserInfoDAO">
    <resultMap id="customerMap" type="com.xs.DAO.DO.customer.CustomerDO">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="birth" column="birth"/>
        <result property="idNumber" column="id_number"/>
        <result property="areaId" column="area_id"/>
        <result property="stateId" column="state_id"/>
        <result property="level" column="level"/>
        <result property="iconPath" column="icon_path"/>
    </resultMap>

    <select id="getAllCustomer" resultMap="customerMap">
        SELECT
            id,first_name,last_name,email,birth,id_number,area_id,state_id,level,icon_path
        FROM
            customer
    </select>

    <select id="selectCustomer" parameterType="java.lang.Integer" resultMap="customerMap">
        SELECT
            id,first_name,last_name,email,birth,id_number,area_id,state_id,level,icon_path
        FROM
            customer
        WHERE
            id = #{id}
    </select>

    <select id="selectCustomerByNumberId" parameterType="java.lang.String" resultMap="customerMap">
        SELECT
            id,first_name,last_name,email,birth,id_number,area_id,state_id,level,icon_path
        FROM
            customer
        WHERE
            id_number = #{numberID}
    </select>

    <select id="selectCustomerInfoByEmail" parameterType="java.lang.String" resultMap="customerMap">
        SELECT
            id,first_name,last_name,email,birth,id_number,area_id,state_id,level,icon_path
        FROM
            customer
        WHERE
            email = #{email}
    </select>

    <select id="selectCustomerByEmail" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            id
        FROM
            customer
        WHERE
            email = #{email}
    </select>

    <select id="selectCustomerByID" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            id
        FROM
            customer
        WHERE
            id_number = #{accountId}
    </select>

</mapper>