<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.assistant.liked.DAO.LikedDAO">
    <insert id="batchSaveOrUpdate" parameterType="com.xs.DAO.DO.liked.LikedDO">
        INSERT INTO article_liked
        VALUES
        <foreach collection="likedItems" item="liked" separator=",">
            (#{liked.articleId},#{liked.liked})
        </foreach>
        ON DUPLICATE KEY UPDATE
            Liked = VALUES(Liked)
    </insert>
</mapper>