<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.assistant.article.DAO.ArticleDAO">
    <insert id="insertArticle" parameterType="com.xs.DAO.DO.article.Article">
        INSERT INTO
            note
            (id,background,image,logo,author_id,article_id,state_id,style_id,update_time,create_time)
        VALUES
            (NULL,#{article.background},#{article.image},#{article.logo},#{article.authorId},#{article.articleId},#{article.stateId},#{article.styleId},now(),now())
    </insert>

    <insert id="insertArticleBatch" parameterType="java.util.List">
        INSERT INTO
            note
            (id,background,image,logo,author_id,article_id,state_id,style_id,update_time,create_time)
        VALUES
        <foreach collection="articles" item="article" separator=",">
            (NULL,#{article.background},#{article.image},#{article.logo},#{article.authorId},#{article.articleId},#{article.stateId},#{article.styleId},now(),now())
        </foreach>
    </insert>

    <select id="selectArticleByArticleId" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            note
        WHERE
            ArticleId = #{ArticleId}
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            note
    </select>

    <select id="selectArticleByArticleId" resultType="com.xs.DAO.DO.article.Article">
        SELECT
            id,background,image,logo,author_id,article_id,state_id,style_id,update_time,create_time
        FROM
            note
        WHERE
            ArticleId = #{articleId}
    </select>

    <select id="selectArticlesByArticleId" resultType="com.xs.DAO.DO.article.Article">
        SELECT
            id,background,image,logo,author_id,article_id,state_id,style_id,update_time,create_time
        FROM
            note
        WHERE
            ArticleId IN
        <foreach collection="articleIds" item="articleId" open="(" close=")" separator=",">
            #{articleId}
        </foreach>
    </select>
</mapper>