<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xs.assistant.article.DAO.ArticleDAO">
    <insert id="insertArticle" parameterType="com.xs.DAO.DO.article.Article">
        INSERT INTO
            note
        VALUES
            (NULL,#{article.background},#{article.image},#{article.logo},#{article.authorId},#{article.articleId},now(),1,0)
    </insert>

    <select id="count" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            note
    </select>

    <select id="selectArticleByArticleId" resultType="com.xs.DAO.DO.article.Article">
        SELECT
            Id,Background,Image,Logo,AuthorId,ArticleId
        FROM
            note
        WHERE
            ArticleId = #{articleId}
    </select>

    <select id="selectArticlesByArticleId" resultType="com.xs.DAO.DO.article.Article">
        SELECT
            Id,Background,Image,Logo,AuthorId,ArticleId
        FROM
            note
        WHERE
            ArticleId IN
        <foreach collection="articleIds" item="articleId" open="(" close=")" separator=",">
            #{articleId}
        </foreach>
    </select>
</mapper>